*~
.DS_Store
*.
compiler.xml
gradle.xml
misc.xml
modules.xml
gradlew.bat
.idea/runConfigurations.xml
.idea/copyright/profiles_settings.xml
!gradle/wrapper/gradle-wrapper.jar
.svn
vcs.xml
*.apk
*.iml
*.bin
*.lock
.idea
build/android-profile
build/generated
build
local.properties
.gradle/

app/schemas/


# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj/
_test/
bin/
build/
*/build/

## go lib
go-path/

## rust output directory
target/


# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof


flutter/HelloWorld/pubspec.lock
*.lock
